@{
    ViewBag.Title = "Fale Conosco";
}
<div class="container">
    <div class="col-lg-12">
        <h1 class="page-header">
            Fale Conosco
        </h1>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Página Inicial", "Index", "Home")

            </li>
            <li class="active">Fale Conosco</li>
        </ol>

        <hr>
        <h4>Fabricio da Silva Rodrigues</h4>
        <address>
            Rua Padre Magno de Lara, 22, Ano Bom<br />
            Barra Mansa, RJ - 27323-340<br />
            Telefone: (24) 9 8155-9591<br />
            Email: fabricio-dsr@hotmail.com
        </address>
    </div>
</div>